*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.wrapper {
    margin: 0 auto;
    max-width: 1440px;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 2rem;
}

.btn {
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    outline: none;
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid $gray;
    border-radius: 4rem;

    &-buy {
        background-color: $yellow;
        border: 0;
    }
}

.text__clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    &-2 {
        -webkit-line-clamp: 2;
    }
}

.logo__text {
    color: $yellow;
}