.partner {
    max-width: 80rem;
    margin: 0 auto;
    padding-bottom: 18rem;
    &__heading {
        font-size: 2rem;
        text-align: center;
        color: $blue-dark;
        padding-bottom: 7rem;
        border-bottom: 2px solid currentColor;
    }
    &__list {
        margin-top: 6.5rem;
        display: flex;
        justify-content: space-between;
    }

}